
<div class="row">
    <div class="col-4">

    </div>
    <div class="col-4">
        <form class="form">
            <div class="mb-3">
                <label for="form-label">UserName : </label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label for="form-label">Password : </label>
                <input type="password" class="form-control">
            </div>
            <div class="mb-6">
                <button class="form-control btn btn-success">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-4">
    
    </div>
</div>